<template>
	<div class="LayoutThree">
		<p>Status Page: {{ status }}</p>
	</div>
</template>

<script>
	export default {
		name: 'LayoutThree',
		data: () => {
			return {
				status: 'Halaman 3'
			}
		}
	}
</script>