<template>
  <v-card :color="cardColor" :dark="computeCardDark">
    <v-card-title>
      <div class="layout row ma-0">
        <div class="subheading">{{ title }}</div>
        <v-spacer></v-spacer>
        <div class="caption"><v-icon>trending_up</v-icon> {{ subTitle }}</div>
      </div>
    </v-card-title>
    <v-responsive class="white--text">
    </v-responsive>
  </v-card>
</template>

<script>

export default {
  props: {
    title: String,
    gradient: {
      type: Boolean,
      default: false
    },
    subTitle: String,
    icon: String,
    cardColor: {
      type: String,
      default: "white"
    },
    iconColor: {
      type: String,
      default: "success"
    },
    type: String,
    chartColor: Array,
    data: Array
  },
  data() {
    return {
      defaultOption: [
        ["dataset.source", this.data],
        ["xAxis.show", false],
        ["yAxis.show", false],
        ["grid.top", "15%"],
        ["grid.left", "0"],
        ["grid.bottom", "0"],
        ["grid.right", "0"],
        ["color", this.chartColor]
      ]
    }
  },

  computed: {
    computeCardDark() {
      return this.cardColor !== "white"
    }
  }
}
</script>

<style></style>
