<template>
  <v-toolbar color="primary" fixed dark app>
     <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
    <img :src="computeLogo" height="36" alt="Vue Material Admin Template" />
    <v-toolbar-title class="ml-0 pl-3">
      <span class="hidden-sm-and-down">Vue Material Admin</span>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <span class="ava-profile">Michael Wan </span>
    <v-avatar size="30px">
      <img src="/static/avatar/man_4.jpg" alt="Michael Wang" />
    </v-avatar>
  </v-toolbar>
</template>
<script>
export default {
  name: "AppToolbar",
  computed: {
    computeLogo() {
      return "/static/m.png"
    },
  }
}
</script>

<style lang="stylus" scoped>
  .ava-profile {
    margin-right: 10px;
    margin-left: 10px;
  }
</style>
